<a href="https://colab.research.google.com/github/Danangellotti/Dataset_Practicas/blob/main/Copia_de_Modulos_I%2C_II_%2CIII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# VARIABLES, LISTAS y DICCIONARIOS



1.   Variables
2.   Tipos de datos
3.   Listas
4.   Diccionarios

C

R

U

D


---
C reate  | Crear

R ead    | Leer

U pdate  | Modificar

D elete  | Eliminar

# 1. VARIABLES

In [ ]:
nombre_planeta = 1007.124

In [ ]:
nombre_planeta
print(nombre_planeta)
type(nombre_planeta)

# 2.TIPOS DE DATOS

## 2.1 CADENAS O STRINGS

In [ ]:
# Declaracion de variables tipo Strings o Cadenas

variable_string = 'saturno'
print(variable_string)
type(variable_string)

## 2.2 ENTEROS

In [ ]:
# Declaracion de variables enteras
variable_entera = -112
print(variable_entera)
type(variable_entera)

In [ ]:
variable_entera = variable_entera + 10

In [ ]:
print(variable_entera)

## 2.3 Floats O FLOTANTES

In [ ]:
# Declaracion de varibles tipo Flotates
variable_flotante = 112.123
print(variable_flotante)
type(variable_flotante)

## 2.4 BOOLEANO

In [ ]:
# Declaracion de variable tipo Booleano
variable_booleana = 'True'
variable_booleana_2 = False
print(variable_booleana)
type(variable_booleana)

## 2.5 CASTING o CONVERSIÓN DE DATOS

In [ ]:
variable_entera = 0
print(variable_entera)
print(type(variable_entera))
variable_entera = bool(variable_entera)
print(variable_entera)
print(type(variable_entera))

In [ ]:
int() # para convertir a enteros
float() # para converir a flotantes
str() # para convertir a strings o cadenas
bool() # para convertir a booleanos

In [ ]:
prueba = 1854
cambio = str(prueba)

print(prueba, cambio, type(prueba), type(cambio), sep='\n')

In [ ]:
prueba = prueba + 46
cambio = cambio + ' fue el año en el que comenzó'

print(prueba, cambio, sep='\n')

In [ ]:
prueba = prueba + ' fue el año en el que comenzó'
cambio = cambio + 46

In [ ]:
prueba = prueba + 46
cambio = cambio + ' fue el año en el que comenzó'

print(prueba, cambio, sep='\n')

del cambio
print(cambio)

# 3.0 LISTAS, TUPLAS, SETS, DICCIONARIOS

## 3.1 LISTAS

In [ ]:
# definicion de variables tipo lista
variable_lista = [1, 2, 3, 4, 22.2324, 'pluton', False, ['a', 'e'], 2]
print(variable_lista)
type(variable_lista)

## 3.2 TUPLAS

In [ ]:
# INMUTABILIDAD
# listas son mutables
# tuplas no son mutables

In [ ]:
# definicion de variables tipo tupla
variable_tupla = (1, 2, 3, 4, 22.2324, 'pluton', False, ['a', 'e'], 2)
print(variable_tupla)
type(variable_tupla)

In [ ]:
variable_lista[1] = 'hola'
print(variable_lista[1])

In [ ]:
variable_tupla[1] = 'hola'

In [ ]:
variable_lista[-1]

In [ ]:
print(variable_lista)
variable_lista[::-1]

## 3.3 SETS

In [ ]:
# definicion variables sets
variable_set = {1, 1, 2, 2, 3, 4,  4}
print(variable_set)
type(variable_set)
# variable_set[1] = 'hola'

In [ ]:
listaa = [1,2,3,2,4,3,3,3,3,5,6,4,4,5,4]
# print(listaa)
# listaa = set(listaa)
# print(listaa)
# listaa = list(listaa)
# print(listaa)
list(set(listaa))

## 3.4 DICCIONARIOS

In [ ]:
# definicion de variables DICCIONARIOS
variable_diccionario = {'key':'value'}
print(variable_diccionario)
type(variable_diccionario)

In [ ]:
planeta1 = {
    'nombre' : 'jupiter',
    'color' : 'naranja',
    'cantidad de lunas' : 79,
    'masa en toneladas' : 1234,
    (1,2) : [[1,2]]
}

planeta1

In [ ]:
planeta1['color']

In [ ]:
# RESUMEN
listas = [] # mutables, pueden tener valores repetidos
tuplas = () # inmutables, pueden tener valores repetidos
sets = {} # inmutables, y NO pueden tener valores repetidos
diccioarions = {'key':'value'} # par de datos, llave-valor asociados

# 4.0 MANEJO LISTAS DICCIONARIOS

## 4.1 LISTAS

### 4.1.1 AGREGAR

In [ ]:
planetas = ['venus', 'mercurio', 'tierra', 'marte']
print(len(planetas))

In [ ]:
# Metodo APPEND, agrega elemento al final de la lista
planetas.append('jupiter')
planetas

In [ ]:
# Metodo INSERT, agregar elemento en el lugar deseado
planetas.insert(1,'X')
planetas

In [ ]:
# Metodo EXTEND
planetas_2 = ['saturno', 'urano']
planetas.extend(planetas_2)
planetas

In [ ]:
# AGREGAR elementos a una lista

.append(elemento) # Agrega el elemento al final de la lista
.insert(indice de la lista, elemento) # Agrega elemento en un lugar especifico de la lista
.extend(elemento) # Agrega todos los elementos de la lista de forma independiente al final de la lista

### 4.1.2 ELIMINAR

In [ ]:
# REMOVE, eliminar el elemento deseado
planetas.remove('X')
planetas

In [ ]:
# POP, elimina el ultimo elemento de la lista
print(planetas.pop())
planetas

In [ ]:
# REMOVER elementos de una lista
.remove # Elimina el elemento deseado de una lista
.pop # Eliminar el ultimo elemento de la lista

### 4.1.3 ORDENAR

In [ ]:
# REVERSE da vuelta los elementos de la lista
planetas.reverse()
planetas

In [ ]:
# SORT ordena alfabeticamente y de menor a mayor en el caso de numeros
planetas.sort()
planetas

In [ ]:
planetas_distancia = [342,7654,200,4532]
print(planetas_distancia)

In [ ]:
planetas_distancia.sort()
planetas_distancia

In [ ]:
planetas_distancia.sort(reverse=True)
planetas.sort(reverse=True)
print(planetas_distancia,planetas, sep='\n')

In [ ]:
# funciones MIN MAX SUM
print(min(planetas_distancia))
print(max(planetas_distancia))
print(sum(planetas_distancia))

### 4.1.4 BUSCAR

In [ ]:
# INDEX, indice del elemento a buscar
print(planetas)
print(planetas.index('X'))

## 4.2 DICCIONARIOS

### 4.2.1 CREAR

In [ ]:
astronauta = {
    'nombre' : 'Carl',
    'Apellido' : 'Sagan',
    'Talle de traje' : 13,
}

### 4.2.2 LEER

In [ ]:
astronauta['Apellido']
traje_astronauta1 = astronauta['Talle de traje']
traje_astronauta1

In [ ]:
astronauta.keys()

In [ ]:
astronauta.values()

In [ ]:
astronauta.items()

### 4.2.3 MODIFICAR

In [ ]:
astronauta['Talle de traje'] = 15

In [ ]:
astronauta

In [ ]:
astronauta['mision'] = 'Apolo 23'
astronauta

### 4.2.4 ELIMINAR

In [ ]:
del astronauta['mision']

In [ ]:
astronauta

In [ ]:
prueba_de_lista = [x for x in range(9) if x%2 == 0]
print(prueba_de_lista)
lista = [1,2,3,4,5]

# for i in range(8):
#   (
#   if i%2 == 0:
#     lista.append(i)
#   print)

sete =  {1,1,1,1,3,3}

print(sete)

diccionario = {
    'nombre':'matias',
    'apellido':1.2
}
print(diccionario['nombre'])

prueba_de_lista[1]